@charset "UTF-8";
@font-face {
  font-family: "myicons";
  src: url("../fonts/myicons.eot");
  src: url("../fonts/myicons.?#iefix") format("embedded-opentype"), url("../fonts/myicons.woff") format("woff"), url("../fonts/myicons.ttf") format("truetype"), url("../fonts/myicons.#myicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "myicons"; }
  .icon:before {
    /* Some common icon stuff */ }
  .icon.-aktiv:before {
    content: ""; }
  .icon.-arrow-down:before {
    content: ""; }
  .icon.-arrow-up:before {
    content: ""; }
  .icon.-atom:before {
    content: ""; }
  .icon.-board:before {
    content: ""; }
  .icon.-check:before {
    content: ""; }
  .icon.-clock:before {
    content: ""; }
  .icon.-coment:before {
    content: ""; }
  .icon.-menu:before {
    content: ""; }
  .icon.-off:before {
    content: ""; }
  .icon.-plain:before {
    content: ""; }
  .icon.-plus:before {
    content: ""; }
  .icon.-reload:before {
    content: ""; }
  .icon.-reload2:before {
    content: ""; }
  .icon.-search:before {
    content: ""; }
  .icon.-settings:before {
    content: ""; }

body {
  width: 1580px;
  height: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none;
  margin-top: 30px; }

a {
  text-decoration: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.c--clear {
  clear: both; }

.count {
  display: block;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: #ff503f;
  color: #fff; }

.count--grey {
  background-color: #adadad; }

.btn {
  padding: 5px 25px; }

.alignment {
  width: 45px;
  height: 5px;
  margin: 0 auto; }

.overflow {
  overflow: hiden; }

.main-content {
  width: 100%;
  height: 1020px;
  border-right: 1px solid #d3d7da;
  border-bottom: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59); }

.accordion-box {
  width: 64%;
  height: 94%;
  border: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
  border-radius: 3px;
  margin: 2% 1% 2% 2%; }

.accordion {
  overflow: auto; }

.accordion__item {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59); }

.accordion__item h2 {
  font-size: 22px;
  font-weight: 400;
  line-height: 74px;
  vertical-align: middle;
  color: #c1c1c1;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  padding: 0 0 0 5%;
  margin: 0;
  display: inline-block; }

.accordion-header {
  width: 100%;
  height: 74px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #d3d7da; }

.accordion__filling-title {
  max-width: 40%;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 22px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  overflow: hidden;
  text-overflow: ellipsis; }

.accordion li {
  margin: 0; }

.accordion__prolapse {
  height: 0;
  padding: 0;
  overflow: hidden; }

.accordion__prolapse:target {
  height: auto;
  transition: 1s; }

.accordion__item span {
  display: inline-block; }

.accordion__filling {
  max-width: 50%;
  padding: 18px 0 0 20px; }

.accordion__icons {
  display: inline-block; }

.accordion__round-btn {
  display: inline-block; }

.c-page__project-list--gray {
  background-color: #ccc; }

.percentage-text {
  width: 50px;
  height: 33px;
  color: #fff;
  background-color: #ff503f;
  text-shadow: 1px 1px 2px black, 0 0 1em;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #ff503f; }

.percentage-block {
  display: inline-block; }

.aligne {
  line-height: 100%;
  vertical-align: middle; }

.accordion .accordion-icons {
  color: #a6a6a6;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 5px;
  padding: 9px; }

.accordion__store-launch {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 14px;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  text-transform: uppercase; }

.last-element {
  margin-right: 30px; }

.users-list-box {
  border: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
  border-radius: 3px; }

.users-list-box {
  width: 26.5%;
  height: 94%;
  margin: 2% 2% 2% 0; }

.users-list-img {
  margin: 20px 25px 20px 25px;
  float: left;
  position: relative; }

.users-list-text p {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  font-size: 16px;
  font-weight: 400;
  color: #909090; }

.users-list-text span {
  opacity: 0.7;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px; }

.online-point {
  width: 12px;
  height: 12px;
  background-color: #aacc4e;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 32px;
  right: 30px; }

.c-page__project-list span {
  display: inline-block; }

.c-page__project-list_box {
  line-height: 74px;
  margin-right: 30px; }

.search-circle {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(164, 164, 164, 0.53);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
  border-radius: 50%;
  display: inline-block; }

.arrow-circle {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(164, 164, 164, 0.53);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
  border-radius: 50%;
  display: inline-block; }

.nav {
  width: 130px;
  height: 1200px;
  padding-top: 30px;
  background-image: url(/img/bg_01.png); }

.nav__tabs {
  text-align: center; }
  .nav__tabs span {
    font-weight: 600;
    letter-spacing: 2px;
    color: #4c4e4f; }
  .nav__tabs .nav-icons {
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 45px;
    color: #4c4e4f; }

.nav__tabs:hover {
  background-image: url(/icons/aktiv.svg);
  background-repeat: no-repeat; }
  .nav__tabs:hover span {
    color: #fff; }
  .nav__tabs:hover .nav-icons {
    color: #ff503f; }

.nav-items--wrap {
  width: 130px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  position: relati; }

.separator-points {
  width: 5px;
  height: 5px;
  background-color: #4c4e4f;
  border-radius: 100%;
  margin: 25px auto;
  box-shadow: 10px 0px 0 0px #4c4e4f, -10px 0px 0 0px #4c4e4f; }

.nav__avatar-count {
  position: absolute;
  top: 0;
  right: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em; }

.nav-count {
  width: 31px;
  height: 31px;
  padding: 4%;
  position: absolute;
  left: 75px;
  bottom: 86px;
  text-shadow: 1px 1px 2px black, 0 0 1em; }

.nav__last-tab {
  margin-top: 200px; }

.page__top {
  width: 1450px;
  height: 98px;
  line-height: 28px;
  vertical-align: middle;
  padding: 25px 0 25px 0;
  background-color: #f2f2f2;
  border: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59); }
  .page__top a {
    float: left; }

.round-btn {
  width: 41px;
  height: 41px;
  padding-top: 5px;
  margin: 0 10px 0 30px; }

.round-btn-green {
  float: right;
  background-color: #aacc4e;
  padding: 3%; }

.square-btn {
  display: inline-block;
  margin-right: 40px;
  border: 1px solid rgba(164, 164, 164, 0.53);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
  border-radius: 30px;
  color: #4b4b4b;
  font-weight: 600; }

.drop-down__btn {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 40px; }
  .drop-down__btn span {
    display: inline-block;
    color: #4b4b4b; }

select {
  position: relative;
  margin: 0 3px 0 3px;
  background-image: none;
  background-color: transparent;
  border: none;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 600;
  color: #4b4b4b;
  -webkit-appearance: none;
  cursor: pointer; }

.search-tab {
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  border-left: 1px solid #d3d7da;
  border-right: 1px solid #d3d7da;
  border-bottom: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59); }
  .search-tab h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #c1c1c1;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
    float: right;
    padding-right: 120px;
    margin-top: 20px; }

.tab__icons {
  font-size: 40px;
  color: #c1c1c1;
  display: inline-block; }

.page__tabs {
  width: 270px;
  height: 80px;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
  position: relative; }
  .page__tabs span {
    font-weight: 600;
    font-size: 120%;
    color: #4b4b4b;
    display: inline-block;
    margin: 0 25px; }
  .page__tabs span:hover {
    color: #c1c1c1;
    text-decoration: none; }

.pages__tab-2 {
  background-color: #f8f8f8;
  border-left: 1px solid #d3d7da;
  border-bottom: 1px solid #d3d7da;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59); }

.page__tabs-count {
  width: 31px;
  height: 31px;
  line-height: 30px;
  position: absolute;
  right: 20px;
  top: 10px; }

/*# sourceMappingURL=style.css.map */
