$mails_chack_bg: #ff503f;
$circle-btn-bg-2: #adadad;
$circle-btn-bg-3: #aacc4e;
$circle-btn-small-size: 31px;
$circle-btn-size: 41px;
$mails_chack_text: #fff;
$main_text-shadow:1px 1px 2px black, 0 0 1em;
$nav__tabs_text: #4c4e4f;
$c-page_btn: 1px solid rgba(164, 164, 164, 0.53);
$c-page_btn-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
$c-page_btn-radius: 30px;
$separator-size: 5px;
$separator-bg: #4c4e4f;

