$mails_chack_bg: #ff503f;
$mails_chack_bg-2: #adadad;
$mails_chack_bg-3: #aacc4e;
$mails_chack_text: #fff;
$mails_chack_text-shadow:1px 1px 2px black, 0 0 1em;
$c-nav__tabs_text: #4c4e4f;
$c-page_btn: 1px solid rgba(164, 164, 164, 0.53);
$c-page_btn-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
$c-page_btn-radius: 30px;
