
$icon-aktiv: "\EA01" !default;

$icon-arrow-down: "\EA02" !default;

$icon-arrow-right: "\EA03" !default;

$icon-arrow-up: "\EA04" !default;

$icon-arrow-w: "\EA05" !default;

$icon-board: "\EA06" !default;

$icon-clock: "\EA07" !default;

$icon-coment: "\EA08" !default;

$icon-logout: "\EA09" !default;

$icon-pick: "\EA0A" !default;

$icon-plus: "\EA0B" !default;

$icon-points: "\EA0C" !default;

$icon-projects: "\EA0D" !default;

$icon-refresh-w: "\EA0E" !default;

$icon-refresh: "\EA0F" !default;

$icon-search: "\EA10" !default;

$icon-settings: "\EA11" !default;

$icon-upgrad: "\EA12" !default;