
$icon-aktiv: "\EA01" !default;

$icon-arrow-down: "\EA02" !default;

$icon-arrow-up: "\EA03" !default;

$icon-atom: "\EA04" !default;

$icon-board: "\EA05" !default;

$icon-check: "\EA06" !default;

$icon-clock: "\EA07" !default;

$icon-coment: "\EA08" !default;

$icon-menu: "\EA09" !default;

$icon-off: "\EA0A" !default;

$icon-plain: "\EA0B" !default;

$icon-plus: "\EA0C" !default;

$icon-reload: "\EA0D" !default;

$icon-reload2: "\EA0E" !default;

$icon-search: "\EA0F" !default;

$icon-settings: "\EA10" !default;