@mixin online-point {
	width: 12px;
	height: 12px;
	background-color: #aacc4e;
	border: 2px solid #fff;
	border-radius: 50%;
}

@mixin offline-point {
	width: 12px;
	height: 12px;
	background-color: #c5c5c5;
	border: 2px solid #fff;
	border-radius: 50%;
}

@mixin grey-circle {
	width: 34px;
	height: 34px;
	border: 1px solid rgba(164, 164, 164, .53);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .52);
	border-radius: 50%;
	display: inline-block;
}
