body {
	width: 1580px;
	height: 1200px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	margin-top: 30px;
}

 a {
	text-decoration: none;
 }

//.c--left 
.float-left {
	float: left;
}

//.c--right
.float-right {
	float: right;
}

.c--clear {
	clear: both;
}

//c-common-mails
.count {
	display: block;

	vertical-align: middle;
	text-align: center;

	border-radius: 50%;

	background-color: $mails_chack_bg;
	color: $mails_chack_text;
}

//c-common-mails--grey
.count--grey {
	background-color: $circle-btn-bg-2;
}

.btn {
	padding: 5px 25px;
	//text-align: center;
}

.alignment {
	width: 45px;
	height: 5px;
	margin: 0 auto;
}

.overflow {
	overflow: hiden;
}