.c-page__top {
	width: 1448px;
	height: 98px;
	line-height: 98px;
	vertical-align: center;
	background-color: #f2f2f2;
	border: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
}

.big-circle {
	width: 41px;
	height: 41px;
	line-height: 41px;
	vertical-align: center;
	display: inline-block;
	margin: 0 10px 0 30px;
}

.c-page__btn {
	width: auto;
	height: 41px;
	padding: 0 20px 3px 20px;
	border: $c-page_btn;
	box-shadow:$c-page_btn-shadow;
	border-radius: $c-page_btn-radius;
	display: inline-block;
	margin-right: 40px;
}

.c-page__top-btn {
	margin-right: 10px;

	img {display: inline-block;}

	p {display: inline-block;}
}

.c-pages__tabs {
	width: 270px;
	height: 80px;
	line-height: 50px;
	vertical-align: center;
	text-align: center;
	position: relative;
		img {
			 display: inline-block;
			}
		p {
		   display: inline-block;
           font-weight: 600;
           font-size: 120%;
           color: #4b4b4b;
			}
		p:hover {
			color: #c1c1c1;
			text-decoration: none;
		}
}

.c-pages__tab-2 {
  	background-color: #f8f8f8;
  	border: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);

}

.c-pages__tabs-mail {
	position: absolute;
	right: 20px;
	top: 10px;
}

.c-pages__tabs-last {
	width: 906px;
	height: 80px;
	background-color: #f2f2f2;
	border: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
		p {
			font-size: 22px;
			font-weight: 400;
			line-height: 50px;
			vertical-align: center;
			text-align: center;
			color: #c1c1c1;
			text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
			float: right;
			padding-right: 120px;
		}
}

.c-page__project {
	width: 99.9%;
	height: 1020px;
	margin-top: 80px;
	border: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
}

.c-page__project--block_1, 
.users-list-box {
	border: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
	border-radius: 3px;
}

.c-page__project--block_1 {
	width: 68%;
	height: 94%;
	margin: 2% 1% 2% 2%;
}

.c-page__project-list {
	width: 100%;
	height: 74px;
	border-bottom: 1px solid #d3d7da;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
}

.c-page__project-list span {
	font-size: 22px;
		font-weight: 400;
		line-height: 74px;
		vertical-align: center;
		text-align: center;
		color: #c1c1c1;
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
		padding-left: 30px;
}
		

.c-page__project-list--gray {
	background-color: #ccc;  

}

.users-list-box {
	width: 26.5%;
	height: 94%;
	margin: 2% 2% 2% 0;
}

.percentsge {
	width: 50px;
	height: 33px;
	color: $mails_chack_text;
	background-color: $mails_chack_bg;
	text-shadow: $mails_chack_text-shadow;
	line-height: 30px;
	vertical-align: center;
	text-align: center;
	border-radius: 5px;
	background-color: #ff503f;

}

.percentsge--grey {

}

.c-page__project-percentage {
	display: iline-block;
}

.aligne {
	line-height: 100%;
	vertical-align: center;
}


//  --- user's list --- //

.users-list-img {
	margin: 20px 25px 20px 25px; 
	float: left;
	position: relative;
}



.users-list-text {	

	p {
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
		font-size: 16px;
		font-weight: 400;
		color: #909090;
	}

	span {
		opacity: 0.7;
		text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
		color: #9c9c9c;
		font-size: 14px;
		font-weight: 400;
		line-height: 5px;
	}

}	

.online-point {
	@include online-point;
	position: absolute;
	bottom: 32px;
	right: 30px;
}

.c-page__project-list span {	
	display: inline-block;
}

.c-page__project-list_box {
	line-height: 74px;
	vertical-align: center;
	margin-right: 30px;
}

.search-circle {
	@include grey-circle;
	content: $icon-search;
	font-family: $global-font-icon;
}

.arrow-circle {
	@include grey-circle;

}