.nav {
	width: 130px;
	height: 1200px;

	padding-top: 30px;

	background-image: url(/img/bg_01.png);	
}

.nav__tabs {
	text-align: center;
	
	span {
		font-weight: 600;
		letter-spacing: 2px;
		color: $nav__tabs_text;
	}

	.nav-icons {
		padding-top: 15px;
		margin-bottom: 20px;

		font-size: 45px;

		color: $nav__tabs_text;
	}
}


.nav__tabs:hover {	
	background-image: url(/icons/aktiv.svg);
	background-repeat: no-repeat;

	span {
		color: #fff;
	}

	.nav-icons {
		color: $mails_chack_bg;
	}
}

.nav-items--wrap {
	width: 130px;
	height: 120px;
	
	text-align: center;

	margin: 0 auto;	
	position: relati
}

.separator-points {
	width: $separator-size;
	height: $separator-size;

	background-color: $separator-bg;
	border-radius: 100%;
	margin: 25px auto;
	box-shadow: $separator-size*2 0px 0 0px $separator-bg, -($separator-size*2) 0px 0 0px $separator-bg;
	
}

.nav__avatar-count {
	position: absolute;
	top: 0;
	right: 0;

	text-shadow: $main_text-shadow;
}

.nav-count {
	width: $circle-btn-small-size;
	height: $circle-btn-small-size;
	padding: 4%;

	position: absolute;
	left: 75px;
	bottom: 86px;

	text-shadow: $main_text-shadow;
}

.nav__last-tab {
	margin-top: 200px;
}
